@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Route Delivery</h1>
    <div style="text-align:center;">
        <img src="~/images/Truck.jpg" style="width:400px;height=200px;"/>
    </div>
</div>

